Repository oieeaaaa/modern-fe-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c tsc, npm run test:stage, npm run lint:scripts, npm run lint:styles

✨ Feature: Setup unit testing
  .babelrc
  .eslintrc
  .gitignore
  .lintstagedrc
  .stylelintignore
  components/button/__snapshots__/button.spec.tsx.snap
  components/button/button.spec.tsx
  components/button/button.tsx
  components/button/index.tsx
  declaration.d.ts
  jest.config.js
  package-lock.json
  package.json
  todo.md
  tools/testing/jest-setup.js
  tools/testing/test-utils.tsx
  tsconfig.json
Due: bash -c tsc, npm run test:stage, npm run lint:scripts

✨ Feature: Setup create scripts
  components/button/button.tsx
  components/button/index.tsx
  package.json
  pages/about.tsx
  todo.md
  tools/create/create-component.js
  tools/create/create-page.js
  tools/create/create.js
  tools/create/hbar.js
  tools/create/prompts.js
  tools/create/templates.js
  tools/create/types.json
  tools/git-hooks/questions.js
  tools/templates/component/component.hbs
  tools/templates/component/component.module.hbs
  tools/templates/component/component.spec.hbs
  tools/templates/component/index.hbs
  tools/templates/page/index.hbs
  tools/templates/page/page.hbs
  tools/templates/page/page.module.hbs
  tools/templates/page/page.spec.hbs
Due: bash -c tsc, npm run lint:scripts

🔨 Refactor: Updated jest config with nextJest
  .babelrc
  jest.config.js
  package-lock.json
  package.json
  styles/common/container.module.scss
  styles/common/container.scss
  styles/main.scss
  tools/testing/jest-setup.js
  tsconfig.json
Due: npm run lint:scripts, npm run lint:styles

⚡️ Miscellaneous: Cleanup
  .lintstagedrc
  fixtures/test.json
  interfaces/app.ts
  package-lock.json
  pages/_app.tsx
Due: bash -c tsc, npm run lint:scripts

🔨 Refactor: Renamed tools to internals
  .czrc
  .eslintignore
  .eslintrc
  internals/create/create-component.js
  internals/create/create-page.js
  internals/create/create.js
  internals/create/hbar.js
  internals/create/prompts.js
  internals/create/templates.js
  internals/create/types.json
  internals/git-hooks/commit.js
  internals/git-hooks/emojiTypes.js
  internals/git-hooks/questions.js
  internals/templates/component/component.hbs
  internals/templates/component/component.module.hbs
  internals/templates/component/component.spec.hbs
  internals/templates/component/index.hbs
  internals/templates/page/index.hbs
  internals/templates/page/page.hbs
  internals/templates/page/page.module.hbs
  internals/templates/page/page.spec.hbs
  internals/testing/jest-setup.js
  internals/testing/test-utils.tsx
  jest.config.js
  package.json
  tsconfig.json
Due: bash -c tsc, npm run lint:scripts

⚡️ Miscellaneous: Removed babel
  .babelrc
Due: none

✨ Feature: Setup mock api
  .stylelintignore
  package-lock.json
  pages/api/users/fake/data.ts
  pages/api/users/fake/get.mock.ts
  pages/api/users/fake/index.ts
  pages/api/users/get.ts
  pages/api/users/index.ts
  utils/server/api/api.ts
  utils/server/api/index.ts
Due: bash -c tsc, npm run lint:scripts

🔨 Refactor: Updated ignored files in stylelint
  .stylelintignore
Due: none

✨ Feature: Added some stuff
  README.md
  components/header/__snapshots__/header.spec.tsx.snap
  components/header/header.module.scss
  components/header/header.spec.tsx
  components/header/header.tsx
  components/header/index.tsx
  components/header/nav.json
  notes.md
  pages/popular.tsx
  pages/settings.tsx
  pages/trending.tsx
  styles/abstracts/settings.scss
  styles/base/base.scss
  styles/common/container.module.scss
  styles/main.scss
  todo.md
Due: bash -c tsc, npm run test:stage, npm run lint:scripts, npm run lint:styles

Path conditions:
  bash -c tsc: any of: *.{ts,tsx}
  npm run test:stage: any of: *.spec.{js,ts,jsx,tsx}
  npm run lint:scripts: any of: *.{js,ts,jsx,tsx}
  npm run lint:styles: any of: *.scss
